<div>
  <h1>{{title}}</h1>
  <h2>Login!</h2>
  <form action='/login' method='POST'>
    <label for='email'> Email </label>
    <input type='email' name='email' placeholder='Your email go here!'/>
    <label for='password'> Password </label>
    <input type='password' name='password' placeholder='Your password go here!'/>
    <button type='submit'>Create account</button>
    {{#if errorMessage}}
      <p>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>