<div>
  <h1>{{title}}</h1>
  <h2>Sign In!</h2>
  <form action='/signup' method='POST'>
    <label for='username'> Username </label>
    <input type='text' name='username' placeholder='Choose your username!'/>
    <label for='email'> Email </label>
    <input type='email' name='email' placeholder='Enter your email!'/>
    <label for='password'> Password </label>
    <input type='password' name='password' placeholder='Create your password!'/>
    <button type='submit'>Sign up</button>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
  </form>
</div>