<div class="image-signup">
  <img class="image-poster" src="/images/IMG_2494.jpg" alt="">
</div>
<div class="text-signup">
  <h1>{{title}}</h1>
  <h2 class="letter-signup">Sign Up!</h2>
</div>
<div class="main-bar">
  <form action='/signup' method='POST'>
    <label class="label-bar" for='username'> Username </label>
    <input class="input-bar" type='text' name='username' placeholder='Choose your username!' />
    <label class="label-bar" for='email'> Email </label>
    <input class="input-bar" type='email' name='email' placeholder='Enter your email!' />
    <label class="label-bar" for='password'> Password </label>
    <input class="input-bar" type='password' name='password' placeholder='Create your password!' />
    <button class="btn" type='submit'>Sign up</button>
    {{#if errorMessage}}
    <p>{{errorMessage}}</p>
    {{/if}}
  </form>
</div>
<div class="nav-bar-signup">
  <ul class="nav-bar-ul">
    <li class="nav-bar-li"><a class="nav-bar-a" href="/">Home</a></li>
    <li class="nav-bar-li"><a class="nav-bar-a" href="/cards/create">Create</a></li>
    <li class="nav-bar-li"><a class="nav-bar-a" href="/cards">Cards</a></li>
    <li class="nav-bar-li"><a class="nav-bar-a" href="/profile">Profile</a></li>
  </ul>
</div>
