<div class="cont-not">
    <h1 class="letter-not">404 Not Found</h1>
</div>
<div class='image-not'>
        <img class="charizard-not" src="/images/charizard.png" alt="charizard image">
</div>
<div class="nav-bar-notfound">
    <ul class="nav-bar-ul">
        <li class="nav-bar-li"><a class="nav-bar-a" href="/">Home</a></li>
        <li class="nav-bar-li"><a class="nav-bar-a" href="/cards/create">Create</a></li>
        <li class="nav-bar-li"><a class="nav-bar-a" href="/cards">Cards</a></li>
        <li class="nav-bar-li"><a class="nav-bar-a" href="/profile">Profile</a></li>
    </ul>
</div>