<div>
    <h1 class="letter-error">Error</h1>
    <div class="image-error">
        <img class="wobbuffet-not" src="/images/wobbuffet.png" alt="wobbuffet image">
    </div>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
</div>