<div>
    <h1 class="letter-error">Error</h1>
    <div class="image-error">
        <img class="wobbuffet-not" src="/images/wobbuffet.png" alt="wobbuffet image">
    </div>
    <h2>{{error.status}}</h2>
    <pre>{{error.stack}}</pre>
</div>
<div class="nav-bar-error">
    <ul class="nav-bar-ul">
        <li class="nav-bar-li"><a class="nav-bar-a" href="/">Home</a></li>
        <li class="nav-bar-li"><a class="nav-bar-a" href="/cards/create">Create</a></li>
        <li class="nav-bar-li"><a class="nav-bar-a" href="/cards">Cards</a></li>
        <li class="nav-bar-li"><a class="nav-bar-a" href="/profile">Profile</a></li>
    </ul>
</div>