<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/public/css/reset.css">
    <link rel="stylesheet" href="/public/css/base.css">
</head>

<body class="welcome-screen">
    <h1>Pokkemon App</h1>
    <h2>Version JS</h2>
    <img src="" alt="Imagen de fondo">
    <a href="/cards/list"><button class="welcome-button">Enter to Pokkemon's World</button></a>
</body>

</html>