<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title rel="icon">Pokkemon App</title>
  <link rel="icon" href="/images/Balls_GO.png">
  <link rel="stylesheet" href="/css/reset.css" />
  <link rel="stylesheet" href="/css/base.css" />
</head>

<body>

  {{{body}}}

  <!-- <div class="nav-bar">
    <ul class="nav-bar-ul">
      <li class="nav-bar-li"><a class="nav-bar-a" href="/">Home</a></li>
      <li class="nav-bar-li"><a class="nav-bar-a" href="/cards/create">Create</a></li>
      <li class="nav-bar-li"><a class="nav-bar-a" href="/cards">Cards</a></li>
      <li class="nav-bar-li"><a class="nav-bar-a" href="/profile">Profile</a></li>
    </ul>
  </div> -->
</body>

</html>