<div class='title-card'>
  <h2 class='letter-card'>Profile</h2>
</div>

<div>
  
</div>

<div class="nav-bar">
  <ul class="nav-bar-ul">
    <li class="nav-bar-li"><a class="nav-bar-a" href="/">Home</a></li>
    <li class="nav-bar-li"><a class="nav-bar-a" href="/cards/create">Create</a></li>
    <li class="nav-bar-li"><a class="nav-bar-a" href="/cards">Cards</a></li>
    <li class="nav-bar-li"><a class="nav-bar-a" href="/profile">Profile</a></li>
  </ul>
</div>