<div class="list">

  <h2 class="letter-create">Create your card</h2>

  <form action="/cards/create" method="POST">
    <label class="label-crt" for="image">Image</label>
    <select class="input-crt" name="image">
      <option value=""></option>
      <option value="https://img.pokemondb.net/artwork/large/wigglytuff.jpg">Wigglytuff</option>
      <option value="https://img.pokemondb.net/artwork/large/gloom.jpg">Gloom</option>
      <option value="https://img.pokemondb.net/artwork/large/venonat.jpg">Venonat</option>
      <option value="https://img.pokemondb.net/artwork/large/venomoth.jpg">Venomoth</option>
      <option value="https://img.pokemondb.net/artwork/large/diglett.jpg">Diglett</option>
      <option value="https://img.pokemondb.net/artwork/large/meowth.jpg">Meowth</option>
      <option value="https://img.pokemondb.net/artwork/large/psyduck.jpg">Psyduck</option>
      <option value="https://img.pokemondb.net/artwork/large/growlithe.jpg">Growlithe</option>
      <option value="https://img.pokemondb.net/artwork/large/poliwag.jpg">Poliwag</option>
      <option value="https://img.pokemondb.net/artwork/large/abra.jpg">Abra</option>
      <option value="https://img.pokemondb.net/artwork/large/machop.jpg">Machop</option>
      <option value="https://img.pokemondb.net/artwork/large/golem.jpg">Golem</option>
    </select>
    <br>
    <label class="label-crt" for="name">Name:</label>
    <input class="input-crt" type="text" name="name" />
    <br>
    <label class="label-crt" for="element">Element:</label>
    <select class="input-crt" name="element">
      <option value=""></option>
      <option value="fire">fire</option>
      <option value="electric">electric</option>
      <option value="water">water</option>
      <option value="poison">poison</option>
      <option value="grass">grass</option>
      <option value="ice">ice</option>
      <option value="wind">wind</option>
      <option value="flying">flying</option>
      <option value="bug">bug</option>
      <option value="dark">dark</option>
      <option value="dragon">dragon</option>
      <option value="fairy">fairy</option>
      <option value="fighting">fighting</option>
      <option value="ghost">ghost</option>
      <option value="ground">ground</option>
      <option value="normal">normal</option>
      <option value="psychic">psychic</option>
      <option value="rock">rock</option>
      <option value="steel">steel</option>
    </select>
    <br>

    <label class="label-crt" for="description">Description:</label>
    <input class="input-crt" type="text" name="description" />
    <br>

    <label class="label-crt" for="attack">Attack:</label>
    <input class="input-crt" type="number" name="attack" />
    <br>

    <label class="label-crt" for="hp">HP:</label>
    <input class="input-crt" type="number" name="hp" />
    <br>

    <label class="label-crt" for="ability">Ability:</label>
    <input class="input-crt-last" type="text" name="ability" />
    <br>
    <div class="alakazam-crt">
      <img class="alaKazam" src="/images/alakazam-mega.png" alt="alakazam image">
    </div>

    <div class="btn-create">
      <button class="button-create" type="submit">Create your Card</button>
    </div>

  </form>
</div>
<div class="nav-bar-create">
  <ul class="nav-bar-ul">
    <li class="nav-bar-li"><a class="nav-bar-a" href="/">Home</a></li>
    <li class="nav-bar-li"><a class="nav-bar-a" href="/cards/create">Create</a></li>
    <li class="nav-bar-li"><a class="nav-bar-a" href="/cards">Cards</a></li>
    <li class="nav-bar-li"><a class="nav-bar-a" href="/profile">Profile</a></li>
  </ul>
</div>