<div class="list">
  <form action="/cards/create" method="POST">

    <h2 class="letter-create">Create your card</h2>

    <label class="label-crt" for="name">Name:</label>
    <input class="input-crt" type="text" name="name"/>
    <br>

    <label class="label-crt" for="element">Element:</label>
    <input class="input-crt" type="text" name="element"/>
    <br>

    <label class="label-crt" for="description">Description:</label>
    <input class="input-crt" type="text" name="description"/>
    <br>

    <label class="label-crt" for="attack">Attack:</label>
    <input class="input-crt" type="number" name="attack"/>
    <br>

    <label class="label-crt" for="hp">HP:</label>
    <input class="input-crt" type="number" name="hp"/>
    <br>

    <label class="label-crt" for="ability">Ability:</label>
    <input class="input-crt" type="text" name="ability"/>
    <br>

    <div class="alakazam-crt">
      <img class="alaKazam" src="/images/alakazam-mega.png" alt="alakazam image">
    </div>

    <div class="btn-create">
      <button class="button-create" type="submit">Create your Card</button>
    </div>
    
  </form>
</div>