<div class="list">
  <form action="/cards/create" method="POST">
    <h2>Create your card</h2>

    <label for="name">Name:</label>
    <input type="text" name="name"/>

    <label for="element">Element:</label>
    <input type="text" name="element"/>

    <label for="description">Description:</label>
    <input type="text" name="description"/>

    <label for="attack">Attack:</label>
    <input type="number" name="attack"/>

    <label for="hp">HP:</label>
    <input type="number" name="hp"/>

    <label for="ability">Ability:</label>
    <input type="text" name="ability"/>

    <button type="submit">Create your Card</button>
    
  </form>
</div>