<div class="list">
  <form action="/cards/create" method="POST">
    <h2>Create your card</h2>

    <label for="name">Name:</label>
    <input type="text" name="name"/>

    <label for="element">Element:</label>
    <input type="text" name="element"/>

    <label for="description">Description:</label>
    <input type="text" name="description"/>

    <label for="strength">Strength:</label>
    <input type="text" name="strength"/>

    <label for="health">Health:</label>
    <input type="text" name="health"/>

    <label for="skill">Skill:</label>
    <input type="text" name="skill"/>

    <label for="ability">Ability:</label>
    <input type="text" name="ability"/>

    <button type="submit">Create your Card</button>
    
  </form>
</div>