<div class='title-card'>
  <h2 class='letter-card'>Pokkemon Cards</h2>
</div>
<div class='button-main-top'>
  <button class='button-create-top'><a  href='/cards/create'>Create Card</a></button>
</div>
  {{#each cards}}

    <div class='cont-image'>
      <a href='/cards/{{_id}}/detail'><img
          class='image-card'
          src='{{image}}'
          alt='{{name}}'
        /></a>
    </div>

    <div class='cont-name'>
      <h3> {{name}}</h3>
    </div>

  {{/each}}
</div>
<div class="btn-logout">
  <a href='/logout'><button class='button-create-top'>logout</button></a>
</div>
<div class="nav-bar-list">
  <ul class="nav-bar-ul">
    <li class="nav-bar-li"><a class="nav-bar-a" href="/">Home</a></li>
    <li class="nav-bar-li"><a class="nav-bar-a" href="/cards/create">Create</a></li>
    <li class="nav-bar-li"><a class="nav-bar-a" href="/cards">Cards</a></li>
    <li class="nav-bar-li"><a class="nav-bar-a" href="/profile">Profile</a></li>
  </ul>
</div>